
<h2>Fund Basket</h2>
<button (click)="goToHelper()">Go Back to Cupboard</button>
<button (click)="clearFundBasket()">Clear Basket</button>
<h2>Editing Cart</h2>
<ul>
    <li *ngFor="let need of fundingBasketNeeds">
        <div>
            <span>Name: {{ need.name }}</span><br>
            <span>Quantity: {{ absoluteDisplay(need.quantity) }} {{isExcessDisplay(need)}}</span><br>
            <span>Price: {{ need.price }}</span><br>
            <span>ID: {{ need.id }}</span><br>
            <input type="number" min=0 max=${need.quantity} #quantity> 
            <button type="button" (click)="setQuantity(need,quantity.value)">Set Quantity</button>
        </div>
    </li>
</ul>
<h2>Final Cart:</h2>
<ol>
    <li *ngFor="let item of basket">
        <div>
            <span>ID: {{ item.id }}</span><br>
            <span>Quantity: {{ absoluteDisplay(item.quantity) }}</span><br>
            <span>Price: {{getBasketPrice(item.id,item.quantity)}} </span><br>
        </div>
    </li>
</ol>


<button (click)="basketCheckout()">Checkout</button>
